{% extends 'base.html.twig' %}

{% block title %}{{ 'activity.title'|trans }}{% endblock %}

{% block body %}
    <section class="py-5" style="padding: 6rem 0;">
        <div class="container">
            <h2 class="section-title fade-in">{{ 'activity.page_title'|trans }}</h2>
            <p class="section-subtitle fade-in">{{ 'activity.subtitle'|trans }}</p>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4">
                    <div class="activity-card scale-in">
                        <img src="{{ asset('assets/img/image5.jpg') }}" alt="Jardinage" class="activity-image">
                        <div class="activity-card-content">
                            <div class="activity-icon"><i class="fas fa-trowel"></i></div>
                            <h3 class="activity-title">{{ 'activity.gardening.title'|trans }}</h3>
                            <p class="activity-description">{{ 'activity.gardening.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="activity-card scale-in">
                        <img src="{{ asset('assets/img/image3.jpg') }}" alt="Arts Plastiques" class="activity-image">
                        <div class="activity-card-content">
                            <div class="activity-icon"><i class="fas fa-paint-brush"></i></div>
                            <h3 class="activity-title">{{ 'activity.arts.title'|trans }}</h3>
                            <p class="activity-description">{{ 'activity.arts.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="activity-card scale-in">
                        <img src="{{ asset('assets/img/IMG_20251216_142928.jpg') }}" alt="Petites Bouchées Linguistiques" class="activity-image">
                        <div class="activity-card-content">
                            <div class="activity-icon"><i class="fas fa-language"></i></div>
                            <h3 class="activity-title">{{ 'activity.english.title'|trans }}</h3>
                            <p class="activity-description">{{ 'activity.english.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="activity-card scale-in">
                        <img src="{{ asset('assets/img/image2.jpg') }}" alt="{{ 'activity.archaeology.title'|trans }}" class="activity-image">
                        <div class="activity-card-content">
                            <div class="activity-icon"><i class="fas fa-monument"></i></div>
                            <h3 class="activity-title">{{ 'activity.archaeology.title'|trans }}</h3>
                            <p class="activity-description">{{ 'activity.archaeology.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="activity-card scale-in">
                        <img src="{{ asset('assets/img/IMG_20251216_130007.jpg') }}" alt="{{ 'activity.geology.title'|trans }}" class="activity-image">
                        <div class="activity-card-content">
                            <div class="activity-icon"><i class="fas fa-mountain"></i></div>
                            <h3 class="activity-title">{{ 'activity.geology.title'|trans }}</h3>
                            <p class="activity-description">{{ 'activity.geology.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="activity-card scale-in">
                        <img src="{{ asset('assets/img/IMG_20251118_135319.jpg') }}" alt="{{ 'activity.cultural.title'|trans }}" class="activity-image">
                        <div class="activity-card-content">
                            <div class="activity-icon"><i class="fas fa-landmark"></i></div>
                            <h3 class="activity-title">{{ 'activity.cultural.title'|trans }}</h3>
                            <p class="activity-description">{{ 'activity.cultural.description'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

