{% extends 'base.html.twig' %}

{% block title %}{{ 'animator.title'|trans }}{% endblock %}

{% block body %}
    <section class="py-5" style="padding: 6rem 0;">
        <div class="container-fluid px-0 mb-4">
            <div class="activity-card scale-in">
                <div style="width: 100%; overflow: hidden;">
                    <img src="{{ asset('assets/img/petite_coop/parents.jpg') }}" alt="{{ 'animator.page_title'|trans }}" style="width: 100%; height: auto; display: block; object-fit: cover;">
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="section-title fade-in mb-4">{{ 'animator.page_title'|trans }}</h2>
            <div class="row">
                <div class="col-12">
                    <div class="activity-card scale-in">
                        <div class="activity-card-content">
                            <p class="activity-description" style="font-size: 1.3rem; line-height: 1.9;">
                                {{ 'animator.description'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
